<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<h3>New Job:</h3>
	<form>
	  <div class="form-group">
	    <label for="job-type">Type</label>
	    <select class="form-control" id="job-type" placeholder="Job Type">
	    	<option value="fibonacci">N-th Fibonacci Number</option>
	    	<option value="power">Power of Number</option>
	    	<option value="sleepwake">Sleep Async</option>
	    	<option value="syncsleepwake">Sleep Sync</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="job-args">Args</label>
	    <input type="text" class="form-control" id="job-args" placeholder="Job Function Arguments">
	  </div>
	  <button type="submit" class="btn btn-default">Add Job</button>
	</form>
	</div>
</div>